/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Montserrat&family=Open+Sans&family=Oswald&family=Roboto&display=swap");

/* Start Main Rule */

* {
  box-sizing: border-box;
}

.btn {
  background: #1768ac;
  color: #fff;
  border: none;
  padding: 10px 40px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  margin: 20px;
  transition: all 0.3s linear;
  text-decoration: none;
}
.btn:hover {
  background-color: #03256c;
}

/* End Main Rule */

/* start landing page*/

.landing {
  text-align: center;
  background-image: url(../src/img/landing.jpg);
  background-size: cover;
  height: 100vh;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.title {
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 80px;
  font-weight: normal;
  line-height: 54px;
  margin: 30vh 0 54px;
  font-weight: 700;
  padding: 25px;
}
.x {
  font-size: 80px;
  font-weight: normal;
  line-height: 54px;
  font-weight: 700;
  color: #e74c3c;
  font-size: 113px;
}
.first {
  background: none;
  outline: none;
  border: 1px solid #fff;
  padding: 10px 40px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  margin: 20px;
  transition: all 0.3s linear;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s linear;
}
.first:hover {
  background-color: #1976d2;
  border: 1px solid #1976d2;
}

/* end landing page */

/* Start SignIn-Up Page */

.auth {
  background-image: url(../src/img/fintech.jpg);
  background-size: cover;
  height: 100vh;
}
.auth .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20vh;
}
.signin {
  width: 400px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.signin .form-content {
  margin-bottom: 30px;
}
.signin .form-content label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: #000;
}
.signin .form-content input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}
.signup .auth {
  background-image: url(../src/img/fintech.jpg);
  background-size: cover;
  height: 300mm;
}
.signup .auth .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300mm;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20vh;
}
.box {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 40px 100px;
  width: 800px;
  margin: auto;
}

.la {
  text-align: left;
  top: 0px;
  left: 0px;
  font-size: 17px;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease-in-out;
}
.su {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}
.su::placeholder {
  color: rgb(168, 167, 167);
}
.su:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #909590;
}

select {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

.select-items {
  background: transparent;
}

/* End SignIn-Up Page */

/* Start Account Page */

.account .auth .overlay > div {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 50px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: auto;
}

.account .auth .overlay > div label {
  text-align: left;
  top: 0px;
  left: 0px;
  font-size: 17px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.account .auth .overlay > div input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  margin-bottom: 25px;
}
.account .auth .overlay > div input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #909590;
}

/* End Account Page */

/* Start Profile Page */

.profile {
  background-image: url("../src/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.profile .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.profile .left {
  float: left;
  width: 64%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 50px;
}
.profile .right {
  float: right;
  width: 30%;
  padding: 20px;
  text-align: center;
  margin-top: 75px;
}

.profile .info {
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 30px 50px;
  margin-top: 100px;
  margin-bottom: auto;
  font-family: "arial", serif;
  font-weight: bold;
}
.profile .info ul li {
  display: block;
  text-decoration: none;
  font-size: 23px;
  font-family: "arial", serif;
  font-weight: 500;
  margin-bottom: 10px;
}

/* End Profile Page */

/* Start Deposit Page */

.deposit {
  background-image: url("../src/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.deposit .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.deposit .overlay > div {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 50px;
  width: 500px;
  margin: 18vh auto;
  margin-bottom: auto;
}

.deposit .overlay > div label {
  text-align: left;
  top: 0px;
  left: 0px;
  font-size: 17px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.deposit .overlay > div input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  margin-bottom: 25px;
}
.deposit .overlay > div input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #909590;
}

/* End Deposit Page */

/* Start Withdraw Page */

.withdraw {
  background-image: url("../src/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.withdraw .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.withdraw .overlay > div {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 50px;
  width: 500px;
  margin: 18vh auto;
  margin-bottom: auto;
}

.withdraw .overlay > div label {
  text-align: left;
  top: 0px;
  left: 0px;
  font-size: 17px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.withdraw .overlay > div input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  margin-bottom: 25px;
}
.withdraw .overlay > div input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #909590;
}

/* End Withdraw Page */

/* Start Transfer Page */

.transfer {
  background-image: url("../src/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.transfer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.transfer .overlay > div {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 50px;
  width: 500px;
  margin: 10vh auto;
  margin-bottom: auto;
}

.transfer .overlay > div label {
  text-align: left;
  top: 0px;
  left: 0px;
  font-size: 17px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.transfer .overlay > div input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  margin-bottom: 25px;
}
.transfer .overlay > div input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #909590;
}

/* End Transfer Page */

/* Start Display Page */

.display {
  background-image: url("../src/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.display .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.display .overlay > div {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 50px;
  width: 500px;
  margin: 30vh auto;
  margin-bottom: auto;
}

.display .overlay > div label {
  text-align: left;
  top: 0px;
  left: 0px;
  font-size: 17px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.display .overlay > div input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  margin-bottom: 25px;
}
.display .overlay > div input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #909590;
}

/* End Display Page */

/* Start Convert Page */

.convert {
  background-image: url("../src/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.convert .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.convert .overlay > div {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 50px 50px 10px;
  width: 700px;
  margin: 30vh auto;
  margin-bottom: auto;
}
.convert .overlay > div form {
  display: flex;
  justify-content: space-evenly;
}
.convert .overlay > div p {
  font-size: 17px;
  margin-bottom: 0;
  font-weight: 600;
  margin: 22px 20px;
}
.convert .overlay > div .ct {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  margin-bottom: 25px;
}
.convert .overlay > div input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  margin: 0 20px 25px 0px;
}
.convert .overlay > div input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #909590;
}
.convert .overlay > div .converter {
  font-size: 50px;
  text-align: center;
}

/* End Convert Page */

/* Start API Page */

.api {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 30px 50px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "arial", serif;
  font-weight: bold;
}
.currency {
  text-transform: uppercase;
  font-size: 30px;
  margin: -50px 0 40px 0;
  display: block;
  text-align: center;
}

/* End API Page */

/* Start Display Info Page */

.display-info {
  background-image: url("../src/img/bg.jpg");
  background-size: cover;
  height: 100vh;
}
.display-info .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.display-info .overlay > div {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px 50px 10px;
  width: 500px;
  margin: 20vh auto;
  margin-bottom: auto;
  text-align: center;
}
.display-info .overlay > div h2 {
  font-size: 45px;
}
.display-info .overlay > div ul {
  text-align: left;
}
.display-info .overlay > div ul li {
  font-size: 25px;
}

/* End Display Info Page */
